<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load widget_tweaks %}
</head>
<style>
    .form-group{
        justify-content: center;
        border: none;
        width: 30%;
        height: 27%;
    }
    button{
        background: rgba(154, 234, 14, 0.58);
        color: #050505;
        border: none;
    }
</style>
<body bgcolor="#6495ed">
<h1>MY EMPLOYEES FORM PAGE</h1>
<form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <div class="form-group">
        {% render_field form.fullname class="form-control" placeholder="Full Name" type="text" %}
    </div>
    <br>
    <div class="form-group">
        {% render_field form.email class="form-control" placeholder="Email" type="text" %}
    </div>
    <br>
    <div class="form-group">
        {% render_field form.emp_code class="form-control" placeholder="Employee Code" type="text" %}
    </div>
    <br>
    <div class="form-group">
        {% render_field form.mobile_no class="form-control" placeholder="Mobile Number" type="numbers" %}
    </div>
    <br>
    <div class="form-group">
        {% render_field form.position class="form-control" placeholder="Position" type="text" %}
    </div>
    <br>

    <button type="submit">SAVE</button>
</form>
<a href="{% url 'employee_list'%}">ADD NEW EMPLOYEE</a>
</body>
</html>