<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
</head>
<body>
<table>
    <tr>
        <th>NAME</th>
        <th>COUNTRY</th>
        <th>AGE</th>
        <th>GENDER</th>
    </tr>
    <tr>
        <td>Sifa</td>
        <td>Kenya</td>
        <td>20</td>
        <td>Female</td>
    </tr>
    <tr>
        <td>Angel</td>
        <td>Tanzania</td>
        <td>19</td>
        <td>Female</td>
    </tr>
    <tr>
        <td>Kevin</td>
        <td>South Africa</td>
        <td>23</td>
        <td>Male</td>
    </tr>
    <tr>
        <td>Ndlovu</td>
        <td>Zimbabwe</td>
        <td>21</td>
        <td>Male</td>
    </tr>
</table>
</body>
</html>