<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact us</title>
    <script src="https://kit.fontawesome.com/0399d283d0.js" crossorigin="anonymous"></script>
</head>
<body bgcolor="#20b2aa">
<h2 style="font-family: 'Bookman Old Style'">Here are our social media pages</h2>
<h4>Follow for a follow <span>&#128521</span></h4>
<h4>Engage with us and we'll engage with you <span>&#128515</span>!!!</h4>

<i class="fa-brands fa-x-twitter fa-2xl"></i>
<i class="fa-brands fa-instagram fa-2xl"></i>
<i class="fa-brands fa-facebook fa-2xl"></i>

</body>
</html>