<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body style="background: darkgreen">
<h1>This is my first django application</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias deserunt est maxime officia unde? Corporis, reiciendis, voluptatum. Accusamus adipisci aliquid atque consectetur dignissimos dolores ex fugit, nihil nostrum officiis quidem, recusandae reiciendis reprehenderit repudiandae, tempora totam unde voluptas voluptatem! A adipisci alias aliquid autem esse excepturi, facilis laudantium suscipit vero?</p>
</body>
</html>