<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body bgcolor="#8a2be2">
<h2 style="font-family: Elephant">Don't have an account register below!!!! <span>&#128515</span></h2>
<form action="" style="background-color: rgba(255,99,122,0.98)">
    <div class="input-boxx" style="font-family: Broadway" >
        <label for="">First name:</label> <br>
        <input type="text" placeholder="Enter First name"> <br><br>
    </div>
    <div class="input-boxx"  style="font-family: Broadway" >
        <label for="">Last name:</label> <br>
        <input type="text" placeholder="Enter Last name"> <br><br>
    </div>
    <div class="input-boxx"  style="font-family: Broadway" >
        <label for="">Email:</label> <br>
        <input type="text" placeholder="Enter Email"> <br><br>
    </div>
    <div class="btn">
        <button style="font-family: Broadway">REGISTER</button>
    </div>
</form>
</body>
</html>